
.navar{
    background-color:#EFEBE9 !important;
}
* {
  box-sizing: border-box;
}
ul{
  margin-left: auto;
}
.titulo-a{
    color: black;
    font-family: 'Niconne', cursive;
    font-size: 20px;
}
.titulo-a:hover{
    color:#F5B7B1  !important;
}
.imagen{
background-image: url(computadora.jpeg);
 background-repeat: no-repeat;
 background-size: cover;
 width: 100%;
 height: 600px;
 display: table;
}

.titulo{
  font-family: 'Niconne', cursive;
  font-size: 45px;
   color: black;
  text-shadow: 2px 2px 3px white;
}
.subtitulo{
  font-family: 'Niconne', cursive;
  font-size: 45px;
  margin-top: 20px;
  color: black;
   text-shadow: 2px 2px 3px white;
}
.texto{
    text-align: left;
    margin-top: 90px;
    margin-left: 40px;
    animation-duration: 6s;
    animation-name: slidein;
}
/*animación de letras*/
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  .logo{
      width: 60px;
      height: 60px;
  }
  /* estilos de foto*/
  .fondo{
    background: rgb(238,174,202);
     background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
      height: 600px;
      display: table;
      width: 100%;
  }
  .perfil{
      width: 300px;
      height: 300px;
      border-radius: 50%;
      margin: auto;
      display: flex; 
  }
  .fondo-img{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
  }
  /*estilo de animación*/
  .ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
  }
  /* estilo de texto sobre mi*/
  .mi-texto{
    font-family: 'Niconne', cursive;
    font-size: 45px;
    color: black;

  }
  .explicación{
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: black;
  }
  
  .habilidades{
    background-color: #d9afd8;
    background-image: linear-gradient(0deg, #d9afd8 0%, #97a7e1 100%);
    width: 100%;
    height: 600px;
    font-family: 'Niconne', cursive;
    font-size: 30px;
    display: table;   
  }
.blandas{
  background-color: #d68bec;
  background-image: linear-gradient(135deg, #d68bec 0%, #e2c395 100%);
  height: 600px;
}
.icon-h{
  width: 33%; 
  display: inline-block;
  animation: bouce1 .5s alternate infinite ease-in;
}
.icon-i{
  width: 70px; 
  height: 70px;
  margin: 20px;
  animation: bouce1 .5s alternate infinite ease-in;
  margin-left:50px;
} 
@keyframes bouce1{
  0%{
    transform: translatex(-10%);
  }
  100%{
    transform: translatex(0%);
  }
}
.titulo-habilidades{
  display: inherit;
  margin: auto;
}
.h-b{
font-family: 'Open Sans', sans-serif;
animation: bouce1 .5s alternate infinite ease-in;
margin-left:80px;
}
.portafolio{
  background-color: #ffdef1;
  background-image: linear-gradient(0deg, #ffdef1 0%, #b5b8ff 100%);  
  width: 100%;
  height: 600px;
  display: table;
}
.carrusel-img{
  width: 80% !important;
  height: 400px;
  margin: auto;
}
.table-portafolio{
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}
.item-pokemon{
  background-image: url(pokemon.png);
  background-repeat: no-repeat;
  background-size: 100% 400px;
}
.titulo-carrusel{
  font-family: 'Niconne', cursive;
  margin: auto;
  display: table;
  font-size: 40px;
  margin-bottom: 20px;
}
.margin-button{
  margin: auto; 
  display: table;
}
.icon-5{
  width: 33%; 
  display: table-cell;
}
.icon-8{
  width: 50px; 
  height: 50px;
  margin: 20px;
}

.icon-7{
  width: 25%; 
  display: table-cell;

}
.icon-9{
  width: 40px; 
  height: 40px;
  margin: 10px;
}
.icon-3{
  width: 33%; 
  display: table-cell;

}

.icon-2{
  width: 50px; 
  height: 50px;
  margin: 20px;
}

.contacto{
  background-color: #a8f6fa;
  background-image: linear-gradient(19deg, #a8f6fa 0%, #edd6f3 100%);
  width: 100%;
  height: 100px;
  font-family: 'Niconne', cursive;
  margin: auto;
  display: table;
  font-size: 40px;
}
.contacto img {
  width: 70px;
  height: 60px;
  margin-left: 70px;
}